@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#header1-0 H1 {
  color: #2e0204;
}
#menu-8 .navbar-toggler {
  color: #000000;
}
#menu-8 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}

#menu-8 .navbar-toggler {
  color: #000000;
}
#menu-8 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}

#menu-8 .navbar-toggler {
  color: #000000;
}
#menu-8 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}

#menu-8 .navbar-toggler {
  color: #000000;
}
#menu-8 .nav-link {
  font-family: 'Playfair Display', sans-serif;
}
